<section class="mb-5">
  <h1 class="text-2xl font-bold">Number Pipes</h1>
  <h3 class="text-xl font-thin">Included pipes in Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">number: '1.2-2'</div>
    <div class="stat-value">{{ totalSales() | number : "1.2-2" }}</div>
    <div class="stat-desc">prev: {{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">number: '1.2-2'</div>
    <div class="stat-value">
      {{ totalSales() + 123445432 | number : "1.2-2" }}
    </div>
    <div class="stat-desc">prev: {{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">currency</div>
    <div class="stat-value">{{ totalSales() | currency }}</div>
    <div class="stat-desc">{{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">percent</div>
    <div class="stat-value">{{ percent() | percent }}</div>
    <div class="stat-desc">{{ percent() }}</div>
  </div>
</div>
