<section class="mb-5 mx-5">
  <h1 class="text-2xl font-bold">Uncommon Pipes</h1>
  <h3 class="text-xl font-thin">Included pipes in Angular</h3>
</section>

<div class="mx-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="i18nSelectPipe">
    <p>
      greetings {{ client().gender | i18nSelect : addressingMap }}
      {{ client().name }}, we´d love to have you at our event
    </p>
    <button class="btn btn-primary" (click)="changeClient()">
      change client
    </button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <p>
      {{ clients().length | i18nPlural : clientsMap }}
    </p>
    <button
      class="btn btn-primary"
      (click)="deleteClient()"
      [disabled]="clients().length === 0"
    >
      remove client
    </button>
  </app-card>

  <app-card title="slicePipe">
    <b>original</b>
    <p class="text-primary">{{ clients().join(", ") }}</p>

    <b class="mt-2">Slice:0:2</b>
    <p class="text-primary">{{ clients() | slice : 0 : 2 }}</p>
  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-primary">{{ clients() | json }}</pre>
    <pre class="text-primary">{{ client() | json }}</pre>
    <p class="text-primary">{{ clients().join(", ") | json }}</p>
  </app-card>

  <app-card title="KeyValuePipe">
    <!-- <pre>{{ profile | keyvalue | json }}</pre> -->
    <ul>
      @for (item of profile |keyvalue; track $index) {
      <li>
        <strong class="text-primary">{{ item.key | titlecase }}</strong>
        <span>
          {{ item.value }}
        </span>
      </li>
      }
    </ul>
  </app-card>

  <app-card title="AsyncPipe">
    <p>{{ promiseValue | async }}</p>

    @if (promiseValue | async; as value ) {
    <p class="text-primary">{{ value }}</p>
    }

    <h3>observable</h3>
    <p>{{ myObservableTimer | async }}</p>
  </app-card>
</div>
